<div style="padding: 8px;
    border-top-width: 1px;
    border-top-color: lightgrey;
    border-top-style: solid;
    margin-top: -1px;">

    <div ng-show="loading">
        ...
    </div>
    <div ng-hide="loading">

        <table width="100%">
            <tr>
                <td width="*" style="text-align:center;">

                    <!-- SIMPLE TEXT -->
                    <div ng-if="mediaItemData.type=='TYPE_TEXT'" style="white-space: normal;">
                        {{mediaItemData.data}}
                    </div>

                    <!-- MULTILANG TEXT -->
                    <div ng-if="mediaItemData.type=='TYPE_MULTILANG'" style="white-space: normal;">
                        <div multilang data="{{mediaItemData.data}}" lang="{{actualLang}}" />
                    </div>

                    <!-- IMAGE -->
                    <div ng-if="mediaItemData.type=='TYPE_IMAGE'" style="white-space: normal;">
                        <img ng-src="{{mediaItemData.data}}" style="max-width: 285px"/>
                    </div>

                    <!-- LOCATION -->
                    <div ng-if="mediaItemData.type=='TYPE_LOCATION'" style="white-space: normal;">
                        <leaflet id="map{{mediaItemData.id}}" data-tap-disabled="true" defaults="defaults" lf-center="center" markers="markers" height="200px" width="300px" style="margin-left: auto;margin-right: auto;"></leaflet>
                    </div>

                    <!-- DATE -->
                    <div ng-if="mediaItemData.type=='TYPE_DATE'" style="white-space: normal; font-weight: bold;font-size: 110%;padding-top: 12px;padding-bottom: 12px;">

                        
                        <i class="icon ion-android-calendar" style="color: #565656; font-weight: bold; font-size: 120%;"></i>&nbsp;{{ mediaItemData.data | date : dateformat | datetranslate:actualLang}}

                        <i class="icon ion-clock" style="color: #565656; font-weight: bold; font-size: 120%;"></i>&nbsp;{{ mediaItemData.data | date : timeformat }}
                    </div>

                </td>
                <td width="20px" style=" vertical-align: top;">
                    <div ng-show="(isAdmin) || (userIsAuthor)">
                        <i on-tap="deleteItemFromRequest(itemid)" class="icon ion-close-circled" style="color: lightgrey; font-size: 150%;"></i>
                        <br>
                        <i ng-show="(reviewed=='REVIEWED_PRIVATE')" on-tap="reviewInfo()" class="icon ion-clock" style="color: orange; font-size: 150%;"></i>
                    </div>
                </td>
            </tr>
            <tr ng-show="(reviewed=='REVIEWED_PRIVATE') && ((isAdmin) || (isReviewer))">
                <td align="center" style="vertical-align: middle">
                    <span>{{ 'PLEASE_REVIEW' | translate }}</span>
                    <button on-tap="reviewFail(itemid)" class="button button-small" style="min-width: 100px;">
                        <i class="icon ion-close-circled" style="color: red;"></i>
                    </button>
                    <button on-tap="reviewOk(itemid)" class="button button-small" style="min-width: 100px;">
                        <i class="icon ion-checkmark-circled" style="color: green;"></i>
                    </button>
                </td>
                <td></td>
            </tr>
        </table>

    </div>
</div>