<a href="#" on-tap="tapNotificationMore($event)" class="item">
    <table width="100%">

        <!-- Chat Mesaage -->
        <tr ng-show="(notification.type===1)">
            <td width="45" style="vertical-align: middle; padding-left: 10px;"><i class="icon ion-chatboxes before-big"></i></td>
            <td width="*" style="vertical-align: middle;">
                <div style="width: 500px;">
                    {{ 'NOTIFICATION_CHATREQUEST' | translate }}
                </div>
            </td>
            <td width="30" style="vertical-align: middle;text-align: right; padding: 5px; padding-right: 10px; padding-left: 10px;" on-tap="tapNotificationDelete($event)"><i class="icon ion-ios-close-outline before-big"></i></td>
        </tr>

        <!-- Review OK -->
        <tr ng-show="(notification.type===2)">
            <td width="45" style="vertical-align: middle; padding-left: 10px;"><i class="icon ion-checkmark-circled before-big"></i></td>
            <td width="*" style="vertical-align: middle;">
                <div style="width: 500px;">
                    {{ 'NOTIFICATION_REVIEWOK' | translate }}
                </div>
            </td>
            <td width="30" style="vertical-align: middle;text-align: right; padding: 5px; padding-right: 10px; padding-left: 10px;" on-tap="tapNotificationDelete($event)"><i class="icon ion-ios-close-outline before-big"></i></td>
        </tr>

        <!-- Review FAIL -->
        <tr ng-show="(notification.type===3)">
            <td width="45" style="vertical-align: middle; padding-left: 10px;"><i class="icon ion-android-alert before-big"></i></td>
            <td width="*" style="vertical-align: middle;">
                <div style="width: 500px;">
                    {{ 'NOTIFICATION_REVIEWFAIL' | translate }}
                </div>
            </td>
            <td width="30" style="vertical-align: middle;text-align: right; padding: 5px; padding-right: 10px; padding-left: 10px;" on-tap="tapNotificationDelete($event)"><i class="icon ion-ios-close-outline before-big"></i></td>
        </tr>

    </table>
</a>