<ion-list>
    <ion-checkbox ng-model="initial.en" on-tap="changeLang('en')">
        English
    </ion-checkbox>
    <ion-checkbox ng-model="initial.de" on-tap="changeLang('de')">
        Deutsch
    </ion-checkbox>
    <ion-checkbox ng-model="initial.ar" on-tap="changeLang('ar')">
        العربية
    </ion-checkbox>
</ion-list>

<!--
<ul class="list">

    <li class="item item-checkbox">
        <label class="checkbox">
            <input type="checkbox" ng-model="en" ng-false-value="0" ng-true-value="1" ng-click="addRemoveLang(en,'en')">
        </label>
        English
    </li>

    <li class="item item-checkbox">


        <label class="checkbox">
            <input type="checkbox" ng-model="de" ng-false-value="0" ng-true-value="1" ng-click="addRemoveLang(de,'de')">
        </label>
        Deutsch
  
    </li>

    <li class="item item-checkbox">

        <label class="checkbox">
            <input type="checkbox" ng-model="ar" ng-false-value="0" ng-true-value="1" ng-click="addRemoveLang(ar,'ar')">
        </label>
        العربية

    </li>

</ul>
-->