<div style="
    padding-bottom: 14px;
    font-size: 80%;
    line-height: 1.4;
    text-align: center;
    margin-top: -13px;">
    Das Konfetti wird über alle ausgewählten Personen gleich verteilt. Es stehen die Personen zur Auswahl, mit denen gechattet wurde. Fehlt jemand der geholfen hat? Dann Abbrechen, kurz chatten und nochmal.
</div>
<ion-list>
    <ion-checkbox data-ng-repeat="chat in request.chats" ng-model="chat.reward" ng-value="chat.id">
        <table width="100%">
        <tr>
            <td width="45" style="vertical-align: middle;">
                <image ng-src="{{getImageUrlFromMediaId(chat.chatPartnerImageMediaID)}}" style="width:50px;height:50px;border-radius:30px;border-width: 1px; border-style: solid; border-color: lightgrey;"/>
            </td>
            <td width="*" style="vertical-align: middle;">
                <div style="padding-left: 10px;">
                    <b>{{chat.chatPartnerName}}</b>
                    <!-- <br><span style="font-size: 50%;color:grey">{{chat.lastLine}}</span> -->
                </div>
            </td>
        </tr>
    </table>
    </ion-checkbox>
</ion-list>