<div style="margin-top: -20px;">
  <label class="item item-input item-stacked-label" style="border-width: 0px; width: 94%;">
    <span class="input-label">Amount of Konfetti</span>
    <input ng-model="popScope.sendAmount" type="number" placeholder="0" min="1" max="{{party.sendKonfettiMaxAmount}}" style="width:100%">
  </label>
  <label class="item item-input item-stacked-label" style="border-width: 0px; width: 94%;">
    <span class="input-label">To User/eMail</span>
    <input ng-model="popScope.sendMail" type="email" placeholder="users@email" style="width:100%">
  </label>
</div>