<ion-list>
    <ion-item style="margin: 0 0 16px 0">
      {{ 'DATE' | translate }}
    </ion-item>
    <ion-item>
      <input type="date" ng-model="dateInput.date">
    </ion-item>
    <ion-item style="margin: 16px 0">
      {{ 'TIME' | translate }}
    </ion-item>
    <ion-item>
      <input type="time" ng-model="dateInput.time">
    </ion-item>
    <ion-item style="margin: 16px 0 0 0">
      <input type="text" ng-model="dateInput.comment" placeholder="{{ 'DATECOMMENT' | translate }}">
    </ion-item>
    <!--
    <ion-checkbox ng-model="dateInput.addlocation" ng-init='dateInput.addlocation=true'><span style="font-size:75%;">{{ 'ADDLOCATION' | translate }}</span></ion-checkbox>
    -->
</ion-list>
