<ion-list> 
    <ion-item>
    <label class="item item-input">
        <span class="input-label">{{ 'DATE' | translate }}</span>
        <input type="date" ng-model="dateInput.date">
    </label>
    </ion-item>
    <ion-item>
    <label class="item item-input">
        <span class="input-label">{{ 'TIME' | translate }}</span>
        <input type="time" ng-model="dateInput.time">
    </label>
    </ion-item>
    <ion-item>
    <label class="item item-input">
        <input type="text" ng-model="dateInput.comment" placeholder="{{ 'DATECOMMENT' | translate }}">
    </label>
    </ion-item>
    <!--
    <ion-checkbox ng-model="dateInput.addlocation" ng-init='dateInput.addlocation=true'><span style="font-size:75%;">{{ 'ADDLOCATION' | translate }}</span></ion-checkbox>
    -->
</ion-list>