<ion-list id="locationpicker">
    <ion-item>
        <label class="item item-input">
            <input type="text" ng-model="locationInput.comment" placeholder="{{ 'LOCATIONCOMMENT' | translate }}">
        </label>
    </ion-item>
    <ion-item>
    <leaflet data-tap-disabled="true" lf-center="markerPosition" event-broadcast="events" markers="markers" height="400px" width="100%"></leaflet>
    <div style="color:grey;font-size:80%;">latitude: {{markerPosition.lat}} longitude: {{markerPosition.lng}}</div>
    </ion-item>
    <ion-checkbox ng-model="locationInput.addDate" ng-init='locationInput.addDate=true'><span style="font-size:75%;">{{ 'ADDDATE' | translate }}</span></ion-checkbox>
</ion-list>