<ion-view ng-cloak view-title="{{ 'KONFETTI-APP' | translate }}" class="sp-{{spClass}}" style="background-color: lightgrey;">

    <ion-nav-buttons side="first">
        <button on-tap="reloadPartyList()" ng-show="!loadingParty" ng-class="{animationPulsateSimple: updatesOnParty}" class="button button-clear button-positive" style="padding-left:5px;padding-right:5px;color:grey;">
            <i ng-class="{red: updatesOnParty}" id="reloadIcon" class="icon ion-loop"></i>
        </button>
        <button on-tap="loginBack()" ng-show="(state=='LOGIN_LOGIN')||(state=='LOGIN_REGISTER')||(state=='LOGIN_RECOVER')" class="button button-clear button-positive" style="padding-left:5px;padding-right:5px;color:grey;">
            <i id="loginBack" class="icon ion-arrow-left-c"></i>
        </button>
        <button on-tap="resetAccount()" ng-show="(showLogOutOption) && ((state=='OK')||(state=='INTERNETFAIL')||(state=='GPSWAIT'))" class="button button-clear button-positive" style="padding-left:5px;padding-right:5px;color:grey;">
            <i id="deleteAccount" class="icon ion-log-out"></i>
        </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="secondary">
        <!-- lang select gets handled on root scope level -->
        <select 
        ng-model="select.actualLang" 
        ng-options='lang.display for lang in langSet' 
        ng-change='selectedLang(select.actualLang)'
        style="margin-top: 8px;margin-right: 3px;"></select>
    </ion-nav-buttons>

    <div class="padding" style="
    background-color: lightgrey;
    z-index: 999;
    top: 40px;
    position: absolute;
    width: 100%;
    height: 86px;" ng-hide="((state==='INTRO') || (state==='LOGIN_START') || (state==='LOGIN_REGISTER') || (state==='LOGIN_LOGIN') || (state==='LOGIN_RECOVER'))">

        <div class="list card ng-cloak" style="text-align: center; margin-top: 8px;">
            <div style="width:100%;padding:8px;min-height:90px;">
                <table style="width: 100%;direction: ltr;">
                    <tr>
                        <td ng-show="partyList.length>0" width="30px" style="text-align: left; vertical-align:middle;">
                            <button 
                            on-tap="buttonPartyPrev()" 
                            class="button button-light icon ion-arrow-left-b fixed-ltr"
                            style="border-left-width: 0px; border-top-width: 0px; border-bottom-width: 0px;border-radius: 0px !important; height: 100%;"
                            ></button>
                        </td>
                        <td width="*" style="text-align: center; vertical-align: middle;" on-tap="showPartyInfo()">
                            <div ng-hide="loadingParty" style="min-height: 70px;">

                                <div style="text-align: center; font-size: 150%;padding-top: 3px;">
                                	{{party.konfettiCount}} {{ 'KONFETTI' | translate }}
                                </div>
                                <div style="font-weight: bold; font-size: 100%; direction: ltr;padding-top:4px;">{{party.name}} <span style="font-weight: normal;">({{party.distanceToUser | distance}})</span></div>
                                <div style="direction: ltr;">
                                    <span ng-show="!hasKonfettiToSpend" style="margin-left:auto; margin-right: auto;font-size: 90%; text-decoration: underline;" class="positive">{{ 'PARTYINFO' | translate }}</span>
                                    <span ng-show="hasKonfettiToSpend" style="margin-left:auto; margin-right: auto;font-size: 90%; text-decoration: underline;" class="positive">{{ 'PARTYINFOANDSPEND' | translate }}</span>
                                	<span ng-show="(isReviewerForThisParty) && (!isAdminForThisParty)" style="font-size: 90%; font-weight: bold; color: darkorange">&nbsp;REVIEWER</span>
                                    <span ng-show="isAdminForThisParty" style="font-size: 90%; font-weight: bold; color: darkred">&nbsp;ADMIN</span>
                                </div>

                            </div>
                            <div ng-show="loadingParty" style="min-height: 76px; padding-top: 10px">
                                <ion-spinner icon="android"></ion-spinner>
                                <div ng-show="(state==='')">
                                    {{ 'INITACCOUNT' | translate }}
                                </div>
                                <div style="color:lightgrey;font-size: 75%">
                                    {{ state | translate }}
                                </div>
                            </div>
                        </td>
                        <td ng-show="partyList.length>0" width="30px" style="text-align: right; vertical-align:middle;direction: ltr;">
                            <button 
                            on-tap="buttonPartyPrev()" 
                            class="button button-light icon ion-arrow-right-b fixed-ltr"
                            style="border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px;border-radius: 0px !important; height: 100%;"
                            ></button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>

  <ion-content>

      <!-- LOGIN WELCOME SCREEN -->

      <div ng-show="(state==='LOGIN_START')" class="card" style="text-align: center; margin-top: 16px;">
          <div class="item item-divider">
              {{ 'LOGIN_WELCOME' | translate }}
          </div>
          <div class="item item-text-wrap">
              <ion-list>
                  <ion-item>
                      {{ 'LOGIN_STEP1' | translate }}<br>
                  </ion-item>
              </ion-list>
          </div>
          <div class="item item-divider">
              <button class="button button-positive" on-tap="buttonLoginRegister()">
                  {{ 'LOGINBUTTON_REGISTER' | translate }}
              </button>
              <button class="button button-positive" on-tap="buttonLoginLogin()">
                  {{ 'LOGINBUTTON_LOGIN' | translate }}
              </button>
              <div on-tap="buttonLoginRecover()" style="text-align: center; font-weight: normal; padding-top: 10px; color: #387EF5;">
                  {{ 'LOGINBUTTON_LOGINFORGOT' | translate }}
              </div>
          </div>
      </div>

      <!-- ACCOUNT REGISTER SCREEN -->

      <div ng-show="(state==='LOGIN_REGISTER')" class="card" style="text-align: center; margin-top: 16px;">
          <div class="item item-divider">
              {{ 'REGISTER_INFO' | translate }}
          </div>
          <div class="item item-text-wrap">
              <div class="list list-inset" style="margin-top: 0px;">
                  <label class="item item-input" style="padding-left: 0px;">
                      <input ng-model="login.Email" type="email" placeholder="{{ 'EMAIL' | translate }}" style="background-color: #fcfcfc; padding: 10px;"
                      onkeydown="if(event.keyCode==13)document.getElementById('registerpassword').focus();" >
                  </label>
                  <label class="item item-input" style="padding-left: 0px;">
                      <input id="registerpassword" ng-model="login.Password" type="password" placeholder="{{ 'PASSWORD' | translate }}" style="background-color: #fcfcfc; padding: 10px;"
                      onkeydown="if(event.keyCode==13){document.getElementById('registerpassword').blur();document.getElementById('registerbutton').click();}">
                  </label>
              </div>
          </div>
          <div class="item item-divider">
              <button id="registerbutton" class="button button-positive" ng-click="buttonLoginRegisterFinal(login.Email, login.Password)" >
                  {{ 'LOGINBUTTON_REGISTER' | translate }}
              </button>
              <div on-tap="buttonLoginLogin()" style="text-align: center; font-weight: normal; padding-top: 16px; color: #387EF5;">
                  {{ 'LOGINBUTTON_LOGINLOGIN' | translate }}
              </div>
          </div>
      </div>

      <!-- LOGIN SCREEN -->

      <div ng-show="(state==='LOGIN_LOGIN')" class="card" style="text-align: center; margin-top: 16px;">
          <div class="item item-divider">
              {{ 'LOGIN_INFO' | translate }}
          </div>
          <div class="item item-text-wrap">
              <div class="list list-inset"  style="margin-top: 0px;">
                  <label class="item item-input" style="padding-left: 0px;">
                      <input ng-model="login.Email" type="email" placeholder="{{ 'EMAIL' | translate }}" style="background-color: #fcfcfc; padding: 10px;"
                      onkeydown="if(event.keyCode==13)document.getElementById('loginpassword').focus();" >
                  </label>
                  <label class="item item-input" style="padding-left: 0px;">
                      <input id="loginpassword" ng-model="login.Password" type="password" placeholder="{{ 'PASSWORD' | translate }}" style="background-color: #fcfcfc; padding: 10px;"
                      onkeydown="if(event.keyCode==13){document.getElementById('loginpassword').blur();document.getElementById('loginbutton').click();}" >
                  </label>
              </div>
          </div>
          <div class="item item-divider">
              <button id="loginbutton" class="button button-positive" ng-click="buttonLoginLoginFinal(login.Email, login.Password)">
                  {{ 'LOGINBUTTON_LOGIN' | translate }}
              </button>
              <div on-tap="buttonLoginRecover()" style="text-align: center; font-weight: normal; padding-top: 16px; color: #387EF5;">
                  {{ 'LOGINBUTTON_LOGINFORGOT' | translate }}
              </div>
              <div on-tap="buttonLoginRegister()" style="text-align: center; font-weight: normal; padding-top: 12px; color: #387EF5;">
                  {{ 'LOGINBUTTON_REGISTERFORGOT' | translate }}
              </div>
          </div>
      </div>

      <!-- PASSWORD RECOVER SCREEN -->

      <div ng-show="(state==='LOGIN_RECOVER')" class="card" style="text-align: center; margin-top: 16px;">
          <div class="item item-divider">
              {{ 'RECOVER_TITLE' | translate }}
          </div>
          <div class="item item-text-wrap">
              <ion-list>
                  <ion-item>
                      {{ 'RECOVER_EXPLAIN' | translate }}
                  </ion-item>
              </ion-list>
              <div class="list list-inset"  style="margin-top: 0px;">
                  <label class="item item-input" style="padding-left: 0px;">
                      <input ng-model="login.Email" type="email" placeholder="{{ 'EMAIL' | translate }}" style="background-color: #fcfcfc; padding: 10px;">
                  </label>
              </div>
          </div>
          <div class="item item-divider">
              <button class="button button-positive" on-tap="buttonLoginRecoverFinal(login.Email)">
                  {{ 'RECOVER_BUTTON' | translate }}
              </button>
          </div>
      </div>

      <!-- INTRO SCREEN -->

      <div ng-show="(state==='INTRO')" class="card" style="text-align: center; margin-top: 16px;">
          <div class="item item-divider">
              {{ 'INTRO_WELCOME' | translate }}
          </div>
          <div class="item item-text-wrap">
              <ion-list>
                  <ion-item>
                      {{ 'INTRO_STEP1A' | translate }}<br><strong>{{ 'INTRO_STEP1B' | translate }}</strong>
                  </ion-item>
                  <ion-item>
                      <strong>{{ 'INTRO_STEP2A' | translate }}</strong> {{ 'INTRO_STEP2B' | translate }}
                  </ion-item>
                  <ion-item>
                      <strong>{{ 'INTRO_STEP3A' | translate }}</strong> {{ 'INTRO_STEP3B' | translate }}
                  </ion-item>
              </ion-list>
          </div>
          <div class="item item-divider">
              <button class="button button-positive" on-tap="buttonIntroScreenCoupon()">
                  {{ 'INTRO_REDEEMCOUPON' | translate }}
              </button>
          </div>
          <div class="item item-divider">
              <button class="button button-positive" on-tap="buttonIntroScreenOK()">
                  {{ 'INTRO_LETSGO' | translate }}
              </button>
          </div>
      </div>

      <!-- INFO SIGNALS -->

      <div style="height: 93px;"></div>

      <!-- pushes content far down until angular is loaded -->
      <div ng-hide="controllerInitDone" style="height: 800px;"></div>

      <div ng-show="(state==='GPSFAIL')" style="width: 100%; text-align: center; padding-top: 50px">
          <div style="font-size: 500%;color:#387ef5">
            <i class="icon ion-ios-navigate"></i>
          </div>
          <div>
              {{ 'NEEDSGPS' | translate }}
          </div>
      </div>

      <div ng-show="(state==='INTERNETFAIL')" style="width: 100%; text-align: center; padding-top: 50px">
          <div style="font-size: 500%;color:#387ef5">
              <i class="icon ion-wifi"></i>
          </div>
          <div>
              {{ 'NEEDSINTERNET' | translate }}
          </div>
      </div>

      <div ng-hide="loadingParty" class="padding">

      <!--
        NOTIFICATIONS - just show if available
      -->

      <div ng-show="showNotifications" class="list card">
          <div notification ng-show="notification.id!=0" type="{{noti}}" data-ng-repeat="notification in notifications" id="notification-{{notification.id}}"></div>
      </div>

      <!--
        REDEEM CODE - when zero konfetti on party
      -->

      <div ng-show="party.konfettiCount==0" style="padding-top: 16px; text-align: center;">
        <button on-tap="onButtonCoupon()" class="button icon-left ion-cash button-positive" style="border-radius: 6px">
             {{ 'REDEEMCOUPON' | translate }}
        </button>
      </div>

      <div class="card" ng-show="(requestsReview.length>0)" style="margin-bottom: 10px;">
          <div class="item item-divider" style="font-weight: bold;">
              {{ 'DASHHEADER_REVIEW' | translate }}
          </div>
      </div>

      <div requestcard data-ng-repeat="request in requestsReview" requesttype="reviewRequestCard" id="reviewRequestCard{{request.id}}" style="position: relative; margin-bottom: 10px; margin-top: 10px;"></div>

      <div class="card" ng-show="(requestsPosted.length>0)" style="margin-bottom: 10px;">
          <div class="item item-divider" style="font-weight: bold;">
              {{ 'DASHHEADER_POSTED' | translate }}
          </div>
      </div>

      <div requestcard data-ng-repeat="request in requestsPosted" requesttype="postedRequestCard" id="postedRequestCard{{request.id}}" style="position: relative;  margin-bottom: 10px; margin-top: 10px;"></div>

      <div class="card" ng-show="(requestsInteraction.length>0)" style="margin-bottom: 10px;">
          <div class="item item-divider" style="font-weight: bold;">
              {{ 'DASHHEADER_ACTIVE' | translate }}
          </div>
      </div>

      <div requestcard data-ng-repeat="request in requestsInteraction" requesttype="interactionRequestCard" id="interactionRequestCard{{request.id}}" style="position: relative;  margin-bottom: 10px; margin-top: 10px;"></div>

      <div class="card" ng-show="(requestsOpen.length>0)" style="margin-bottom: 10px;">
          <div class="item item-divider"  style="font-weight: bold; padding-right: 8px;">
              {{ 'DASHHEADER_OPEN' | translate }} <select ng-model="actualSorting" ng-options='sort.sort as sort.display for sort in sortSet' ng-change='changedSorting(actualSorting)' style="float:right;margin-left: 10px;"></select>
          </div>
      </div>

      <div requestcard data-ng-repeat="request in requestsOpen" requesttype="openRequestCard" id="openRequestCard{{request.id}}" style="position: relative; margin-bottom: 10px; margin-top: 10px;"></div>

      <div ng-show="(requestsOpen.length===0)" class="card" style="margin-bottom: 10px;margin-top: 10px;text-align: center;">
           <div class="item item-text-wrap" style="font-weight: bold;">
               {{ 'NOCONTENT' | translate }}
           </div>
      </div>

      <div class="card" style="margin-bottom: 10px; margin-top: 0px; padding: 10px; text-align: center;">
          <button on-tap="onNewRequest()" class="button icon-left ion-plus-circled button-positive" style="border-radius: 6px">
               {{ 'NEWREQUEST' | translate }}
          </button>
      </div>

      <div class="card" ng-show="(requestsDone.length>0)" style="margin-bottom: 10px;">
        <div class="item item-divider"  style="font-weight: bold; padding-right: 8px;">
            {{ 'DASHHEADER_RECENTLYDONE' | translate }}
        </div>
      </div>

      <div requestcard data-ng-repeat="request in requestsDone" requesttype="interactionRequestCard" id="openRequestCard{{request.id}}" style="position: relative; margin-bottom: 10px; margin-top: 10px;"></div>

      </div>


  </ion-content>
</ion-view>
