<ion-view view-title="{{headerTitle}}" class="sp-{{spClass}}">
  <ion-content>

      <div class="list card" style="text-align: center; margin-top: 8px;">

          <div style="width:100%;padding:8px">
              <table style="width: 100%;direction: ltr;">
                  <tr>
                      <td width="*" style="text-align: center; vertical-align: middle;">
                          <div ng-hide="loadingParty">
                              <div style="font-weight: bold; font-size: 125%;padding-top: 8px; direction: ltr;">Helferverein Nord e.V.</div>
                              <div style="direction: ltr;">Berlin-Pankow (500m)</div>
                          </div>
                      </td>
                  </tr>
              </table>
          </div>

          <hr style="width: 90%">

          <div ng-show="loadingRequest" style="min-height: 70px;">
              <br>
              <ion-spinner icon="android"></ion-spinner>
          </div>

          <div style="width:100%; padding:8px;" ng-show="(request.id===0)">
              <table style="width: 100%;">
                  <tr>
                      <td on-tap="takeSelfi()" width="70" style="text-align: center; vertical-align: middle;">
                          <image ng-src="{{request.imageUrl ? request.imageUrl : './img/person.png'}}" style="width:50px;height:50px;border-radius:30px;border-width: 1px; border-style: solid; border-color: lightgrey;"/>
                      </td>
                      <td width="*" style="text-align: center; vertical-align: middle;">
                          <div>
                              <div class="item item-input-inset" style="border-width:0px; padding-bottom:3px;">
                                  <label class="item-input-wrapper">
                                      <input ng-model="profile.name" type="text" style="width:100%" placeholder="{{ 'YOURNAME' | translate }}" maxlength="20">
                                  </label>
                              </div>
                              <div on-tap="editSpokenLanguage()" style="border-width:0px;margin-left:12px;margin-right:12px;font-size: 75%;">
                                  {{ 'ISPEAK' | translate }}
                                  <span data-ng-repeat="lang in profile.spokenLangs" style="border-width: 1px; border-style: solid; border-color: grey; border-radius: 3px; padding:2px; margin: 2px;">{{lang | uppercase}}</span>
                                  <span style="border-width: 0px; border-style: solid; border-color: grey; border-radius: 3px; padding:2px;"><i class="icon ion-android-add-circle" style="color: grey; font-size: 125%;"></i></span>
                              </div>
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td colspan="2">
                          <div class="item item-input-inset" style="border-width:0px; padding-bottom:3px;padding-top: 16px">
                              <label class="item-input-wrapper">
                                  <input ng-model="headline" type="text" style="width:100%" placeholder="{{ 'YOURREQUEST' | translate }}"  maxlength="30">
                              </label>
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td colspan="2">
                          <div style="padding-top: 12px;padding-bottom: 1px;">
                              <span style="font-size:100%">{{ 'YOUGIVE' | translate }}&nbsp;</span> <span style="font-size:150%; font-weight: bold;">{{confettiToSpend}} {{ 'KONFETTI' | translate }}</span> <span style="font-size:100%">&nbsp;{{ 'REWARD' | translate }}</span>
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td colspan="2" align="center">
                          <div class="item range" style="width:95%">
                              <span style="font-size: 75%">{{confettiMin}}</span>
                              <input ng-model="confettiToSpend" style="margin-top: 0px;" type="range" name="volume" min="{{confettiMin}}" max="{{confettiMax}}">
                              <span style="font-size: 75%">{{confettiMax}}</span>
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td colspan="2">

                          <button on-tap="submitRequest()" class="button icon-left ion-android-globe button-positive" style="border-radius: 6px">
                              {{ 'SUBMIT' | translate }}
                          </button><br>
                          <button on-tap="addInfoItem()" class="button button-small icon-left ion-android-attach button-light" style="border-radius: 6px; margin-top: 10px">
                              {{ 'ADDINFO' | translate }}
                          </button>
                      </td>
                  </tr>
              </table>
          </div>

      </div>

      <div class="card" ng-show="( (request.info.length>0) )">
          <div class="item item-divider">
              {{ 'PUBLICINFO' | translate }}
          </div>
      </div>

      <div ng-show="((request.author===profile.id) && (request.id>0) && (!loadingRequest))" style="padding-top: 0px; padding-bottom: 0px; padding-left: 12px; padding-right: 12px">
          <button on-tap="addInfoItem()" class="button button-small icon-left ion-android-attach button-light" style="padding-left: 10px">
              &nbsp; {{ 'ADDINFO' | translate }}
          </button>
      </div>

      <div class="card" ng-show="(request.chats.length>0)">
          <div class="item item-divider">
              {{ 'PRIVATECHATS' | translate }}
          </div>
      </div>

  </ion-content>
</ion-view>
