<ion-view ng-cloak view-title="{{ 'TAB_MORE' | translate }}">

    <ion-content style="background-color: lightgrey;">

      <div class="list card" style="text-align: center; margin-top: 8px;">

          <div style="padding-top: 16px">
              <button on-tap="onButtonCoupon()" class="button icon-left ion-cash button-positive">
                  {{ 'REDEEMCOUPON' | translate }}
              </button>
          </div>

          <div style="padding-top: 16px">
              <button on-tap="onButtonCode()" class="button icon-left ion-ios-color-wand-outline button-positive">
                  {{ 'MAGICCODE' | translate }}
              </button>
          </div>

          <div style="padding-top: 16px; padding-bottom: 16px">
              <button on-tap="languageSelectionDialog()" class="button icon-left ion-ios-world-outline button-langselect button-positive">
                  {{ select.actualLang.display | translate }}
              </button>
          </div>

          <div style="text-align: center; padding-top:10px; padding-left: 20%; padding-right: 20%; border-top-width: 1px; border-style: solid; border-color: lightgrey;">
              {{ 'EMAIL_INFO' | translate }}
          </div>

          <div class="item item-input-inset" style="border-top-width: 0px;">
              <label class="item-input-wrapper">
                  <input ID="accountemail" type="email" ng-model="email" type="text" style="text-align: center; width: 100%;" placeholder="my@email"
                  onkeydown="if(event.keyCode==13){document.getElementById('accountemail').click();document.getElementById('emailsave').click();}" >
              </label>

              <button id="emailsave" class="button button-positive" ng-click="storeMail(email)" style="margin: 16px 0 0 0">
                  {{ 'SAVE' | translate }}
              </button>
          </div>

          <!-- DEACTIVATED FOR NOW - see https://github.com/rootzoll/konfetti-app/issues/115

          <div style="padding-top: 16px; padding-bottom: 16px">
              <button on-tap="onButtonSwitchAccount()" class="button button-small icon-left ion-shuffle">
                  {{ 'SWITCH_ACCOUNT' | translate }}
              </button>
          </div>
          -->

          <!-- DEACTIVATED FOR NOW

          <div style="width:100%;padding-top:8px;padding-left: 16px;text-align: left;">
              <ion-toggle  ng-model="settings.enablePush">
                  {{ 'ENABLEPUSH' | translate }}
              </ion-toggle>
          </div>

          <hr style="width: 90%">

          <div style="width:100%;padding-bottom:8px;padding-left: 16px;text-align: left;">
              <ion-toggle  ng-model="settings.pauseChats">
                  {{ 'PAUSECHAT' | translate }}
              </ion-toggle>
          </div>

        -->

      </div>



      <!-- PARTY ADMIN PANEL -->

      <div ng-show="isAdminForThisParty" class="card">
          <div class="item item-divider">
               {{ 'PARTYADMIN_OPTIONS' | translate }}
          </div>
      </div>

      <div ng-show="isAdminForThisParty" class="list card" style="text-align: center; margin-top: 8px;">

          <div style="margin-top: 14px;">
              {{party.name}}
          </div>

          <div style="padding-top: 16px; padding-bottom: 16px">
              <button on-tap="onButtonAdminCreateCoupons(email)" class="button icon-left ion-cash button-positive">
                  {{ 'CREATE_COUPONS' | translate }}
              </button>
          </div>

      </div>

      <div style="text-align:center;font-size:74%;color:grey;padding:12px;">
          {{latestGitVersion}}
      </div>

  </ion-content>
</ion-view>
