<ion-view ng-cloak view-title="{{ 'TAB_MORE' | translate }}">

    <ion-nav-buttons side="secondary">
        <button class="button button-small button-stable" on-tap="languageSelectionDialog()">
            <i class="icon ion-android-arrow-dropdown" id="langselect-icon"></i> {{select.actualLang.display}}
        </button>
    </ion-nav-buttons>

    <ion-content style="background-color: lightgrey;">

      <div class="list card" style="text-align: center; margin-top: 8px;">

          <!--
          <div style="width:100%;padding:8px">
              <table style="width: 100%;direction: ltr;">
                  <tr>
                      <td width="*" style="text-align: center; vertical-align: middle;">
                          <div ng-hide="loadingParty">
                              <div style="font-weight: bold; font-size: 125%;padding-top: 8px; direction: ltr;">{{party.name}}</div>
                              <div style="direction: ltr;">({{party.userMeters}}m) / {{party.konfettiCount}} {{ 'KONFETTI' | translate }}</div>
                          </div>
                      </td>
                  </tr>
              </table>
          </div>

          <hr style="width: 90%">

          <div style="width:100%;padding:8px">

              <div>{{ 'YOUCOLLECT' | translate }}</div>
              <div style="font-size: 200%; padding-top: 10px; padding-bottom: 10px;">
                  {{party.konfettiTotal}} {{ 'KONFETTI' | translate }}
              </div>
              <div>{{ 'YOUTOP' | translate }} {{party.user.topPosition}}</div>

          </div>
      </div>
      -->

    <div class="card">
        <div class="item item-divider">
            {{ 'GLOBALSETTINGS' | translate }}
        </div>
    </div>

      <div class="list card" style="text-align: center; margin-top: 8px;">

          <div style="padding-top: 16px">
              <button on-tap="onButtonCoupon()" class="button icon-left ion-cash button-positive" style="border-radius: 6px">
                  {{ 'REDEEMCOUPON' | translate }}
              </button>
          </div>

          <div style="padding-top: 16px; padding-bottom: 16px">
              <button on-tap="onButtonCode()" class="button icon-left ion-ios-color-wand-outline button-positive" style="border-radius: 6px">
                  {{ 'MAGICCODE' | translate }}
              </button>
          </div>

          <div style="text-align: center; padding-top:10px; padding-left: 20%; padding-right: 20%; border-top-width: 1px; border-style: solid; border-color: lightgrey;">
              {{ 'EMAIL_INFO' | translate }}
          </div>

          <div class="item item-input-inset" style="border-top-width: 0px;">
              <label class="item-input-wrapper">
                  <input ID="accountemail" type="email" ng-model="email" type="text" style="text-align: center; width: 100%;" placeholder="my@email" 
                  onkeydown="if(event.keyCode==13){document.getElementById('accountemail').click();document.getElementById('emailsave').click();}" >
              </label>
              <button id="emailsave" class="button button-small" ng-click="storeMail(email)">
                  {{ 'SAVE' | translate }}
              </button>
          </div>

          <div style="padding-top: 16px; padding-bottom: 16px">
              <div style="margin-bottom: 8px;">
                {{ 'SWITCH_INFO' | translate }}
              </div>
              <button on-tap="onButtonSwitchAccount()" class="button button-small icon-left ion-shuffle" style="border-radius: 6px">
                  {{ 'SWITCH_ACCOUNT' | translate }}
              </button>
          </div>

          <!-- DEACTIVATED FOR NOW

          <div style="width:100%;padding-top:8px;padding-left: 16px;text-align: left;">
              <ion-toggle  ng-model="settings.enablePush">
                  {{ 'ENABLEPUSH' | translate }}
              </ion-toggle>
          </div>

          <hr style="width: 90%">

          <div style="width:100%;padding-bottom:8px;padding-left: 16px;text-align: left;">
              <ion-toggle  ng-model="settings.pauseChats">
                  {{ 'PAUSECHAT' | translate }}
              </ion-toggle>
          </div>

        -->

      </div>



      <!-- PARTY ADMIN PANEL -->

      <div ng-show="isAdminForThisParty" class="card">
          <div class="item item-divider">
               {{ 'PARTYADMIN_OPTIONS' | translate }}
          </div>
      </div>

      <div ng-show="isAdminForThisParty" class="list card" style="text-align: center; margin-top: 8px;">

          <div style="margin-top: 14px;">
              {{party.name}}
          </div>

          <div style="padding-top: 16px; padding-bottom: 16px">
              <button on-tap="onButtonAdminCreateCoupons(email)" class="button icon-left ion-cash button-positive" style="border-radius: 6px">
                  {{ 'CREATE_COUPONS' | translate }}
              </button>
          </div>

      </div>


  </ion-content>
</ion-view>
