<ion-view view-title="{{headerTitle}}" class="sp-{{spClass}}" style="background-color: lightgrey;">

    <ion-nav-buttons side="secondary">
        <button on-tap="setNewRequest()" ng-show="(!loadingParty) && (request.id!=0)" id="new-request-header-button" class="button button-small icon-left ion-star button-positive">
            &nbsp;{{ 'CREATENEW' | translate }}
        </button>
    </ion-nav-buttons>

    <ion-content>

      <div class="list card" style="text-align: center; margin-top: 8px;">

          <div style="width:100%;padding:8px">
              <table style="width: 100%;direction: ltr;">
                  <tr>
                      <td width="*" style="text-align: center; vertical-align: middle;">
                          <div ng-hide="loadingParty">
                              <div style="font-weight: bold; font-size: 125%;padding-top: 8px; direction: ltr;">{{party.name}}</div>
                              <div style="direction: ltr;">({{party.meters}}m) / {{party.user.konfettiCount}} {{ 'KONFETTI' | translate }}</div>
                          </div>
                      </td>
                  </tr>
              </table>
          </div>

          <hr style="width: 90%">

          <div ng-show="loadingRequest" style="min-height: 70px;">
              <br>
              <ion-spinner icon="android"></ion-spinner>
              <div style="color:lightgrey;font-size: 75%">
                  {{ state | translate }}
              </div>
          </div>

          <!-- START CREATE NEW REQUEST -->
          <div style="width:100%; padding:8px;" ng-show="(request.id===0)">

              <table ng-show="(confettiMax>=confettiMin)" style="width: 100%;">
                  <tr>
                      <td on-tap="takeSelfi()" width="70" style="text-align: center; vertical-align: middle;">
                          <image ng-src="{{request.imageUrl ? request.imageUrl : './img/person.png'}}" style="width:50px;height:50px;border-radius:30px;border-width: 1px; border-style: solid; border-color: lightgrey;"/>
                      </td>
                      <td width="*" style="text-align: center; vertical-align: middle;">
                          <div>
                              <div class="item item-input-inset" style="border-width:0px; padding-bottom:3px;">
                                  <label class="item-input-wrapper">
                                      <input ng-model="profile.name" type="text" onkeyup="(event.keyCode===13) && (document.getElementById('headline').focus())" style="width:100%" placeholder="{{ 'YOURNAME' | translate }}" maxlength="20">
                                  </label>
                              </div>
                              <div on-tap="editSpokenLanguage()" style="border-width:0px;margin:2px;margin-left:12px;margin-right:12px;font-size: 75%;padding-top: 2px;">
                                  {{ 'ISPEAK' | translate }}
                                  <span data-ng-repeat="lang in profile.spokenLangs" style="border-width: 1px; border-style: solid; border-color: grey; border-radius: 3px; padding:2px; margin: 2px;">{{lang | uppercase}}</span>
                                  <span style="border-width: 0px; border-style: solid; border-color: grey; border-radius: 3px; padding:2px;"><i class="icon ion-android-add-circle" style="color: grey; font-size: 125%;"></i></span>
                              </div>
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td colspan="2">
                          <div class="item item-input-inset" style="border-width:0px; padding-bottom:3px;padding-top: 16px">
                              <label class="item-input-wrapper">
                                  <input id="headline" ng-model="headline.temp" type="text" onkeyup="(event.keyCode===13) && (document.getElementById('konfettiSlide').focus())"  style="width:100%" placeholder="{{ 'YOURREQUEST' | translate }}"  maxlength="30">
                              </label>
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td colspan="2">
                          <div style="padding-top: 12px;padding-bottom: 1px;">
                              <span style="font-size:100%">{{ 'YOUGIVE' | translate }}&nbsp;</span> <span style="font-size:150%; font-weight: bold;">{{confettiToSpend}} {{ 'KONFETTI' | translate }}</span> <span style="font-size:100%">&nbsp;{{ 'REWARD' | translate }}</span>
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td colspan="2" align="center">
                          <div class="item range" style="width:95%">
                              <span style="font-size: 75%">{{confettiMin}}</span>
                              <input id="konfettiSlide" ng-model="confettiToSpend" style="margin-top: 0px;" type="range" name="volume" min="{{confettiMin}}" max="{{confettiMax}}">
                              <span style="font-size: 75%">{{confettiMax}}</span>
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td colspan="2">

                          <button on-tap="submitRequest()" class="button icon-left ion-android-globe button-positive" style="border-radius: 6px">
                              {{ 'SUBMIT' | translate }}
                          </button><br>
                          <button on-tap="addInfoItem()" class="button button-small icon-left ion-android-attach button-light" style="border-radius: 6px; margin-top: 10px">
                              {{ 'ADDINFO' | translate }}
                          </button>
                      </td>
                  </tr>
              </table>
              <div ng-show="(confettiMax<confettiMin)" style="text-align:center;padding:10px">
                    <div>{{ 'LOWKONFETTI' | translate }}</div>
                    <div>{{ 'MINKONFETTI' | translate }} {{confettiMin}}</div>
              </div>
          </div>
          <!-- END CREATE NEW REQUEST -->

          <!-- START READ REQUEST -->
          <div style="width:100%; padding:8px;" ng-show="(request.id!=0) && (!loadingRequest)">
              <table style="width: 100%;">
                  <tr>
                      <td ng-show="(request.state!='open')" width="50" style="vertical-align: middle; text-align: center">

                        <button ng-show="(request.state==='review')" class="button button-small button-energized" style="width:50px;"><i class="icon ion-clock"></i></button>
                        <button ng-show="(request.state==='done')" class="button button-small button-balanced" style="width:50px;"><i class="icon ion-checkmark-circled"></i></button>
                        <button ng-show="(request.state==='rejected')" class="button button-small button-assertive" style="width:50px;"><i class="icon ion-alert-circled"></i></button>

                      </td>
                      <td ng-show="(request.state==='open')" width="50" style="text-align: center;" on-tap="tapRequestKonfetti($event, request)">
                          <table class="round" style="width:100%;">
                              <tr>
                                  <td style="vertical-align: middle; text-align: center; font-weight: bold; font-size: 75% ">
                                      {{(request.konfettiCount)}}<span ng-show="(request.konfettiAdd>0)">+{{request.konfettiAdd}}</span>
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      <button class="button button-small button-positive" style="width: 50px"><i class="icon ion-thumbsup"></i></button>
                                  </td>
                              </tr>
                          </table>
                      </td>
                      <td colspan="2" width="*" style="text-align: center; vertical-align: middle;padding-top: 10px;">
                          <div style="font-size: 125%; font-weight: bold;  padding-top: 6px;">
                              {{request.title}}
                          </div>
                          <div style="font-size: 75%; color:grey">
                              {{ 'REQUESTEDON' | translate }} {{request.time | date:'medium'}}
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td on-tap="takeSelfi()" width="70" style="text-align: center; vertical-align: middle; padding-top: 18px;padding-bottom: 4px;">
                          <image ng-src="{{request.imageUrl ? request.imageUrl : './img/person.png'}}" style="width:50px;height:50px;border-radius:30px;border-width: 1px; border-style: solid; border-color: lightgrey;"/>
                      </td>
                      <td width="*" style="text-align: center; vertical-align: middle; padding-top: 18px;padding-bottom: 4px;">
                          <div>
                              <span style="font-size: 75%">{{ 'CONTACT' | translate }}</span>&nbsp;
                              {{request.userName}}
                          </div>
                      </td>
                      <td width="*" style="text-align: center; vertical-align: middle; padding-top: 18px;padding-bottom: 4px;">
                          <div style="border-width:0px;margin:2px;margin-left:12px;margin-right:12px;font-size: 75%;padding-top: 2px;">
                              {{ 'ISPEAK' | translate }}
                              <span data-ng-repeat="lang in request.spokenLangs" style="border-width: 1px; border-style: solid; border-color: grey; border-radius: 3px; padding:2px; margin: 2px;">{{lang | uppercase}}</span>
                          </div>
                      </td>
                  </tr>
              </table>

              <hr style="width: 90%">

              <!-- SHOW WHEN OPEN AND USER NOT AUTHOR -->
              <div ng-show="(request.userId!=userId) && (request.state==='open')" style="width:100%">
                  <div style="width:100%">
                    <span style="font-size:100%">{{ 'HELPOUT' | translate }}&nbsp;</span> <span style="font-size:125%; font-weight: bold;">{{request.konfettiCount}} {{ 'KONFETTI' | translate }}</span> <span style="font-size:100%">&nbsp;{{ 'GETREWARD' | translate }}</span>
                </div>
                <div style="width:100%; padding-top: 16px; padding-bottom: 8px;">
                  <button on-tap="startChat()" class="button icon-left ion-android-contacts button-positive" style="border-radius: 6px">
                      {{ 'HELPCHAT' | translate }}
                  </button>
                </div>
              </div>

              <!-- SHOW WHEN USER IS THE AUTHOR -->
              <div ng-show="((userIsAuthor) && (request.id>0) && (!loadingRequest))" style="padding-top: 0px; padding-bottom: 0px; padding-left: 12px; padding-right: 12px">
                  <button on-tap="addInfoItem()" class="button button-small icon-left ion-android-attach button-light" style="padding-left: 10px">
                      &nbsp; {{ 'ADDINFO' | translate }}
                  </button>
              </div>

              <!-- SHOW WHEN OPEN AND USER IS THE AUTHOR OR ADMIN-->
              <div ng-show="(userIsAuthor) && (request.state==='open') && (!loadingRequest))" style="width:100%">
                  <div style="width:100%; padding-top: 16px; padding-bottom: 8px;">
                      <button on-tap="buttonRequestDone()" class="button icon-left ion-checkmark-circled button-positive" style="border-radius: 6px">
                          {{ 'REQUESTDONE' | translate }}
                      </button>
                  </div>
                  <div style="width:100%; padding-top: 16px; padding-bottom: 8px;">
                      <button on-tap="buttonRequestDelete()" class="button icon-left ion-trash-a button-positive" style="border-radius: 6px">
                          {{ 'REQUESTDELETE' | translate }}
                      </button>
                  </div>
              </div>

              <!-- SHOW WHEN YOU ARE ADMIN OR REVIEWER -->
              <div ng-show="((isAdmin || isReviewer) && (request.id>0) && (!loadingRequest))" style="padding-top: 0px; padding-bottom: 0px; padding-left: 12px; padding-right: 12px">
                  <div ng-show="(request.state==='review')" style="width:100%; padding-top: 16px; padding-bottom: 8px;">
                      <button on-tap="buttonRequestApprove()" class="button icon-left ion-checkmark-circled button-positive" style="border-radius: 6px">
                          {{ 'REQUESTAPPROVE' | translate }}
                      </button>
                  </div>
                  <div ng-show="(request.state==='review')" style="width:100%; padding-top: 16px; padding-bottom: 8px;">
                      <button on-tap="buttonRequestReject()" class="button icon-left ion-close-circled button-positive" style="border-radius: 6px">
                          {{ 'REQUESTREJECT' | translate }}
                      </button>
                  </div>
                  <div style="width:100%; padding-top: 16px; padding-bottom: 8px;">
                      <button on-tap="buttonRequestDelete()" class="button icon-left ion-trash-a button-positive" style="border-radius: 6px">
                          {{ 'REQUESTDELETE' | translate }}
                      </button>
                  </div>
              </div>

          </div>
          <!-- END READ REQUEST -->

      </div>

      <div class="card" ng-show="( (request.info.length>0) )">
          <div class="item item-divider">
              {{ 'PUBLICINFO' | translate }}
          </div>
      </div>

      <div class="card" ng-show="(request.chats.length>0)">
          <div class="item item-divider">
              {{ 'PRIVATECHATS' | translate }}
          </div>
      </div>

      <div ng-show="(request.chats.length>0)" class="list card">
          <div data-ng-repeat="chat in request.chats">
              <a href="#" on-tap="displayChat($event, chat)" class="item" style="padding:14px;">
                  <table width="100%">
                      <tr>
                          <td width="45" style="vertical-align: middle;">
                              <image ng-src="{{chat.imageUrl ? chat.imageUrl : './img/person.png'}}" style="width:50px;height:50px;border-radius:30px;border-width: 1px; border-style: solid; border-color: lightgrey;"/>
                          </td>
                          <td width="*" style="vertical-align: middle;">
                              <div style="padding-left: 10px;">
                                  <b>{{chat.userName}}</b><br>
                                  <span style="font-size: 75%;color:grey">{{chat.lastLine}}</span>
                              </div>
                          </td>
                          <td width="30" style="vertical-align: middle;text-align: right; padding: 5px; padding-right: 6px; padding-left: 6px;"><i class="icon ion-email-unread before-big"></i></td>
                      </tr>
                  </table>
              </a>
          </div>
      </div>

  </ion-content>
</ion-view>
