<ion-view view-title="Chat" hide-back-button="false" style="margin-top: 16px;">

    <ion-nav-buttons side="primary">
        <button on-tap="back()" class="button button-clear button-positive" style="padding-left:5px;padding-right:5px;color:white;    margin-top:-4px;">
            <i id="backIcon" class="icon ion-arrow-left-c"></i>
        </button>
    </ion-nav-buttons>

  <ion-content class="padding">

      <div style="width: 100%; height: 130px;"></div>

      <div style="width: 100%">

          <div data-ng-repeat="message in messages" style="text-align: center;" id="chat-message-{{message.id}}">
    
              <div ng-show="message.isUser" style="width: 100%">
                  <div class="list card" style="background-color: lightcyan; margin:10px; margin-left: 30%;">
                      <div mediaitem itemid="{{message.itemId}}" cache="true"></div>
                  </div>
              </div>
            
              <div ng-hide="message.isUser" style="width: 100%">
                  <table width="90%">
                      <tr>
                          <td width="15"><i class="icon ion-ios-person-outline"></i></td>
                          <td width="*">
                              <div class="list card"  style="background-color: lightyellow;  margin:10px; ">
                                <div mediaitem itemid="{{message.itemId}}" cache="true"></div>
                              </div>
                          </td>
                          <td width="10%"></td>
                      </tr>
                  </table>
              </div>
          </div>

      </div>

      <div ng-show="loading" style="min-height:70px;width:100%;text-align:center;margin-top: 10px; margin-bottom: 5px">
          <br>
          <ion-spinner icon="android"></ion-spinner>
          <div style="color:lightgrey;font-size: 75%">
              {{ loadingText | translate }}
          </div>
      </div>

  </ion-content>


    <div class="chatInputFooter">
        <div class="list card" style="text-align: center; margin-top: 10px;margin-bottom: 2px;">
            <table style="width: 100%;">
                <tr>
                    <td width="70" style="text-align: center; vertical-align: middle; padding-top: 6px;padding-bottom: 4px;" rowspan="2">
                        <image ng-src="{{getChatPartnerImage()}}" style="width:50px;height:50px;border-radius:30px;border-width: 1px; border-style: solid; border-color: lightgrey;"/>
                    </td>
                    <td colspan="3" style="padding-top: 12px; padding-right: 35px; vertical-align: middle; font-weight: bold;">
                        {{chatPartner.requestTitle}}
                    </td>
                </tr>
                <tr>
                    <td width="*" style="text-align: center; vertical-align: middle; padding-top: 4px;padding-bottom: 4px;">
                        <div>
                            <span style="font-size: 75%">{{ 'CONTACT' | translate }}</span>&nbsp;
                            {{chat.chatPartnerName}}
                        </div>
                    </td>
                    <td width="*" style="text-align: center; vertical-align: middle; padding-top: 4px;padding-bottom: 4px;">
                        <div style="border-width:0px;margin:2px;margin-left:12px;margin-right:12px;font-size: 75%;padding-top: 2px;">
                            {{ 'ISPEAK' | translate }}
                            <span data-ng-repeat="lang in chat.chatPartnerSpokenLangs" style="border-width: 1px; border-style: solid; border-color: grey; padding:2px; margin: 2px;">{{lang | uppercase}}</span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="item item-input-inset" style="height:62px;background:lightgray; border-color: transparent;padding-bottom:0px;margin-bottom:0px;">
            <label class="item-input-wrapper" style="background-color: white">
                <input ng-enter="sendChatMessage()" type="text" ng-model="chatMessage" placeholder="{{ 'SENDMESSAGE' | translate }}" style="width: 90%; height: 30px;background-color: white;">
            </label>
            <button on-tap="sendChatMessage()" id='sendChatButton' class="button button-small button-positive" style="height: 30px; width: 40px; position: absolute; right: 15px; top: 16px;">
                <i ng-show="(!sending && !senderror)" class="icon ion-android-send"></i><i ng-show="(!sending && senderror)" class="icon ion-alert-circled"></i><img ng-show="sending" src="./img/spinner.gif" style="width: 14px; height: 14px"/>
            </button>
        </div>
    </div>

</ion-view>
