<ion-view ng-cloak view-title="{{headerTitle}}" class="sp-{{spClass}}" style="background-color: lightgrey;">

    <ion-nav-buttons side="first">
        <button on-tap="back()" ng-show="(!loadingParty) && (request.id!=0)" class="button button-clear button-positive" style="padding-left:5px;padding-right:5px;color:grey;">
            <i id="backIcon" class="icon ion-arrow-left-c"></i>
        </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="secondary">
        <button class="button button-small button-stable button-langselect" on-tap="languageSelectionDialog()">
            <i class="icon ion-android-arrow-dropdown" id="langselect-icon"></i> {{select.actualLang.display}}
        </button>
    </ion-nav-buttons>

    <ion-content>

      <div class="list card" style="text-align: center; margin-top: 8px;">

          <div style="width:100%;padding:8px">
              <table style="width: 100%;direction: ltr;">
                  <tr>
                      <td width="*" style="text-align: center; vertical-align: middle;">
                          <div ng-hide="loadingParty">
                              <div style="font-weight: bold; font-size: 125%;padding-top: 8px; direction: ltr;">{{party.name}}</div>
                              <div style="direction: ltr;">{{party.konfettiCount}} {{ 'KONFETTI' | translate }}</div>
                          </div>
                      </td>
                  </tr>
              </table>
          </div>

          <hr style="width: 90%">

          <div ng-show="loadingRequest" style="min-height: 70px;">
              <br>
              <ion-spinner icon="android"></ion-spinner>
              <div style="color:lightgrey;font-size: 75%">
                  {{ state | translate }}
              </div>
          </div>

          <!-- START CREATE NEW REQUEST -->
          <div style="width:100%; padding:8px;" ng-show="(request.id===0)">

              <table ng-show="(confetti.max>=confetti.min)" style="width: 100%;">
                  <tr>
                      <td on-tap="takeSelfi()" width="70" style="text-align: center; vertical-align: middle;">
                      	  <i ng-class="{'completeInvisible': (request.imageMediaID!=null)}" style="position:relative;top:-4px;left:+55px;" class="icon ion-plus-circled positive"></i>
                          <image ng-src="{{getImageUrlFromMediaId(request.imageMediaID)}}" style="width:50px;min-width:50px;height:50px;min-height:50px;border-radius:30px;border-width: 1px; border-style: solid; border-color: lightgrey;"/>
                      </td>
                      <td width="*" style="text-align: center; vertical-align: middle;">
                          <div> 
                              <div class="item item-input-inset" ng-class="{animationPulsateOpacity: pulsateNameInput}" style="border-width:0px; padding-bottom:3px;">
                                  <label class="item-input-wrapper">
                                      <input ng-model="profile.name" type="text" onkeyup="(event.keyCode===13) && (document.getElementById('headline').focus())" style="width:100%" placeholder="{{ 'YOURNAME' | translate }}" maxlength="20">
                                  </label>
                              </div>
                              <div on-tap="editSpokenLanguage()" style="border-width:0px;margin:2px;margin-left:12px;margin-right:12px;font-size: 75%;padding-top: 2px;">
                                  {{ 'ISPEAK' | translate }}
                                  <span data-ng-repeat="lang in profile.spokenLangs" style="border-width: 1px; border-style: solid; border-color: grey; border-radius: 3px; padding:2px; margin: 2px;">{{lang | uppercase}}</span>
                                  <span style="border-width: 0px; border-style: solid; border-color: grey; border-radius: 3px; padding:2px;"><i class="icon ion-android-add-circle positive" style="font-size: 125%; position:relative; top: 1px; left:-3px;"></i></span>
                              </div>
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td colspan="2">
                          <div class="item item-input-inset" ng-class="{animationPulsateOpacity: pulsateHeadlineInput}" style="border-width:0px; padding-bottom:3px;padding-top: 16px">
                              <label class="item-input-wrapper">
                                  <input id="headline" ng-model="headline.temp" type="text" onkeyup="(event.keyCode===13) && (document.getElementById('konfettiSlide').focus())"  style="width:100%" placeholder="{{ 'YOURREQUEST' | translate }}"  maxlength="42">
                              </label>
                          </div>
                          <div ng-show="headline.temp.length>35" style="color: red; font-size: 75%;">
                              {{ 'KEEP_HEADLINE_SHORT' | translate }}
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td colspan="2">
                          <div style="padding-top: 12px;padding-bottom: 1px;">
                              <span style="font-size:100%">{{ 'YOUGIVE' | translate }}&nbsp;</span> <span style="font-size:150%; font-weight: bold;">{{confetti.toSpend}} {{ 'KONFETTI' | translate }}</span> <span style="font-size:100%">&nbsp;{{ 'REWARD' | translate }}</span>
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td colspan="2" align="center">
                          <div class="item range" style="width:95%">
                              <span style="font-size: 75%">{{confetti.min}}</span>
                              <input id="konfettiSlide" ng-model="confetti.toSpend" style="margin-top: 0px;" type="range" name="volume" min="{{confetti.min}}" max="{{confetti.max}}">
                              <span style="font-size: 75%">{{confetti.max}}</span>
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td colspan="2">
                          <button on-tap="submitRequest()" class="button icon-left ion-android-globe button-positive" style="border-radius: 6px">
                              {{ 'SUBMIT' | translate }}
                          </button><br>
                          <button on-tap="addInfoItem()" class="button button-small icon-left ion-android-attach button-light" style="border-radius: 6px; margin-top: 10px">
                              {{ 'ADDINFO' | translate }}
                          </button>
                      </td>
                  </tr>
              </table>
              <div ng-show="(confetti.max<confetti.min)" style="text-align:center;padding:10px">
                    <div>{{ 'LOWKONFETTI' | translate }}</div>
                    <div>{{ 'MINKONFETTI' | translate }} {{confetti.min}}</div>
              </div>
          </div>
          <!-- END CREATE NEW REQUEST -->

          <!-- START READ REQUEST -->
          <div style="width:100%; padding:8px;" ng-show="(request.id!=0) && (!loadingRequest)">
              <table style="width: 100%;">
                  <tr>
                      <td colspan="3">
                          <div ng-show="(noticeColor!='')" style="width: 100%; border-radius: 10px; border-width: 1px; border-style: solid; border-color: {{noticeColor}}; color: {{noticeColor}}; padding: 12px; margin-bottom: 10px;">
                              {{ noticeTextId | translate }}
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td ng-show="((request.state!='STATE_OPEN') && (request.state!='STATE_PROCESSING'))" width="50" style="vertical-align: middle; text-align: center">

                        <button ng-show="(request.state==='STATE_REVIEW')" class="button button-small button-energized" style="width:50px;"><i class="icon ion-clock"></i></button>
                        <button ng-show="(request.state==='STATE_DONE')" class="button button-small button-balanced" style="width:50px;"><i class="icon ion-checkmark-circled"></i></button>
                        <button ng-show="(request.state==='STATE_REJECTED')" class="button button-small button-assertive" style="width:50px;"><i class="icon ion-alert-circled"></i></button>

                      </td>
                      <td ng-show="((request.state==='STATE_OPEN') || (request.state==='STATE_PROCESSING'))" width="50" style="text-align: center;" on-tap="tapRequestKonfetti($event, request)">
                          <table class="round" style="width:100%;">
                              <tr>
                                  <td style="vertical-align: middle; text-align: center; font-weight: bold; font-size: 75% ">
                                      {{(request.konfettiCount)}}<span ng-show="(request.konfettiAdd>0)">+{{request.konfettiAdd}}</span>
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      <button class="button button-small button-positive" style="width: 50px"><i class="icon ion-thumbsup"></i></button>
                                  </td>
                              </tr>
                          </table>
                      </td>
                      <td colspan="2" width="*" style="text-align: center; vertical-align: middle;padding-top: 10px;">
                          <div style="font-size: 125%; font-weight: bold;  padding-top: 6px;">
                              {{getMultiLangOnRequest(actualLang)}}
                          </div>
                          <div style="font-size: 75%; color:grey">
                              {{ 'REQUESTEDON' | translate }} {{request.time | date:'medium'}}
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td width="70" style="text-align: center; vertical-align: middle; padding-top: 18px;padding-bottom: 4px;">
                          <image fallbackSrc="./img/person.png" ng-src="{{getImageUrlFromMediaId(request.imageMediaID)}}" style="width:50px;height:50px;border-radius:30px;border-width: 1px; border-style: solid; border-color: lightgrey;"/>
                      </td>
                      <td width="*" style="text-align: center; vertical-align: middle; padding-top: 18px;padding-bottom: 4px;">
                          <div>
                              <span style="font-size: 75%">{{ 'CONTACT' | translate }}</span>&nbsp;
                              {{request.userName}}
                          </div>
                      </td>
                      <td width="*" style="text-align: center; vertical-align: middle; padding-top: 18px;padding-bottom: 4px;">
                          <div style="border-width:0px;margin:2px;margin-left:12px;margin-right:12px;font-size: 75%;padding-top: 2px;">
                              {{ 'ISPEAK' | translate }}
                              <span data-ng-repeat="lang in request.spokenLangs" style="border-width: 1px; border-style: solid; border-color: grey; border-radius: 3px; padding:2px; margin: 2px;">{{lang | uppercase}}</span>
                          </div>
                      </td>
                  </tr>
              </table>

              <hr style="width: 90%">

              <!-- ADDITIONAL INFO TEXTS ON TASK -->

              <div ng-show="(request.state=='STATE_OPEN') && (request.konfettiAmountReward>0)" style="margin: 8px;width:100%;">
                  {{ 'INFO_REWARD' | translate }} {{request.konfettiAmountReward}} {{ 'KONFETTI' | translate }}.
              </div>

              <div ng-show="(request.konfettiAmountSupport>0)" style="margin: 8px;width:100%;">
                  {{ 'INFO_SUPPORT' | translate }} {{request.konfettiAmountSupport}} {{ 'KONFETTI' | translate }}.
              </div>

              <div ng-show="(request.state==='STATE_REVIEW') && (request.mediaItemIds.length>0)" style="margin: 8px;width:100%;">
                  {{ 'CHECK_MEDIAITEMS' | translate }}
              </div>

              <!-- SHOW WHEN OPEN AND USER NOT AUTHOR -->
              <div ng-show="(!userIsAuthor) && (request.state==='STATE_OPEN')" style="width:100%">
                  <div style="width:100%">
                    <span style="font-size:100%">{{ 'HELPOUT' | translate }}&nbsp;</span> <span style="font-size:125%; font-weight: bold;">{{request.konfettiCount}} {{ 'KONFETTI' | translate }}</span> <span style="font-size:100%">&nbsp;{{ 'GETREWARD' | translate }}</span>
                </div>
                <div ng-show="request.chats.length==0" style="width:100%; padding-top: 16px; padding-bottom: 8px;">
                  <button on-tap="startChat()" class="button icon-left ion-android-contacts button-positive" style="border-radius: 6px">
                      {{ 'HELPCHAT' | translate }}
                  </button>
                </div>
                <div ng-show="request.chats.length>0" style="width:100%; padding-top: 16px; padding-bottom: 8px;">
                      <button on-tap="continueChat()" class="button icon-left ion-android-contacts button-positive" style="border-radius: 6px">
                          {{ 'HELPCHAT_CONT' | translate }}
                      </button>
                </div>
              </div>

              <!-- SHOW WHEN USER IS THE AUTHOR -->
              <div ng-show="((userIsAuthor) && (request.id>0) && (!loadingRequest)) && (request.state!='STATE_REJECTED')" style="padding-top: 0px; padding-bottom: 0px; padding-left: 12px; padding-right: 12px">
                  <button on-tap="addInfoItem()" class="button button-small icon-left ion-android-attach button-light" style="padding-left: 10px">
                      &nbsp; {{ 'ADDINFO' | translate }}
                  </button>
              </div>

              <!-- SHOW WHEN OPEN AND USER IS THE AUTHOR OR ADMIN-->
              <div ng-show="((userIsAuthor) && ((request.state==='STATE_OPEN') || (request.state==='STATE_PROCESSING')) && (!loadingRequest))" style="width:100%">
                  <div ng-show="(request.chats.length>0)" style="width:100%; padding-top: 16px; padding-bottom: 8px;">
                      <button on-tap="buttonRequestDone()" class="button icon-left ion-checkmark-circled button-balanced" style="border-radius: 6px">
                          {{ 'REQUESTDONE' | translate }}
                      </button>
                  </div>
                  <div ng-show="(request.state==='STATE_OPEN')" style="width:100%; padding-top: 8px; padding-bottom: 8px;">
                      <button on-tap="buttonRequestProcess()" class="button button-small icon-left ion-pause button-energized" style="border-radius: 6px">
                          <span style="font-weight: bold;">{{ 'REQUESTPROCESS' | translate }}</span>
                      </button>
                  </div>
                  <div ng-show="(request.state==='STATE_PROCESSING')" style="width:100%; padding-top: 16px; padding-bottom: 8px;">
                      <button on-tap="buttonRequestReopen()" class="button icon-left ion-play button-energized" style="border-radius: 6px">
                          {{ 'REQUESTREOPEN' | translate }}
                      </button>
                  </div>
                  <div style="width:100%; padding-top: 8px; padding-bottom: 8px;">
                      <button on-tap="buttonRequestDelete()" class="button button-small icon-left ion-trash-a button-assertive" style="border-radius: 6px">
                          <span style="font-weight: bold;">{{ 'REQUESTDELETE' | translate }}</span>
                      </button>
                  </div>
              </div>

              <!-- SHOW WHEN YOU ARE ADMIN OR REVIEWER -->
              <div ng-show="((isAdmin || isReviewer) && (request.id>0) && (!loadingRequest))" style="padding-top: 0px; padding-bottom: 0px; padding-left: 12px; padding-right: 12px">
                      <div ng-show="(request.state==='STATE_REVIEW')" style="width:100%; padding-top: 16px; padding-bottom: 8px;">
                          <button on-tap="buttonRequestApprove()" class="button icon-left ion-checkmark-circled button-balanced" style="border-radius: 6px">
                              {{ 'REQUESTAPPROVE' | translate }}
                          </button>
                      </div>
                      <div ng-show="(request.state==='STATE_OPEN') || (request.state==='STATE_REVIEW')" style="width:100%; padding-top: 16px; padding-bottom: 8px;">
                          <button on-tap="buttonRequestReject()" class="button icon-left ion-close-circled button-assertive" style="border-radius: 6px">
                              <span ng-show="(request.state==='STATE_REVIEW')">{{ 'REQUESTREJECT' | translate }}</span>
                              <span ng-show="(request.state==='STATE_OPEN')">{{ 'REQUESTREJECT_AFTER' | translate }}</span>
                          </button>
                      </div>
                      <div ng-show="(isAdmin) && (!userIsAuthor)" style="width:100%; padding-top: 16px; padding-bottom: 8px;">
                          <button on-tap="buttonRequestDelete()" class="button icon-left ion-trash-a button-assertive" style="border-radius: 6px">
                              {{ 'REQUESTDELETE' | translate }}
                          </button>
                      </div>
              </div>

              <!-- SHOW WHEN YOU ARE AUTHOR AND REQUEST IS REJECTED -->
              <div ng-show="((isAdmin || userIsAuthor) && (request.id>0) && (request.state==='STATE_REJECTED'))" style="padding-top: 0px; padding-bottom: 0px; padding-left: 12px; padding-right: 12px">
                  <div style="width:100%; padding-top: 16px; padding-bottom: 8px;">
                      <button on-tap="buttonRequestDelete()" class="button icon-left ion-trash-a button-assertive" style="border-radius: 6px">
                          {{ 'REQUESTDELETE' | translate }}
                      </button>
                  </div>
              </div>

          </div>
          <!-- END READ REQUEST -->

      </div>

        <!--  CHATS -->

        <div class="card" ng-show="(request.chats.length>0)" id="chatitems">
            <div class="item item-divider">
                {{ 'PRIVATECHATS' | translate }}
            </div>
        </div>

        <div ng-show="(request.chats.length>0)" class="list card">
            <div data-ng-repeat="chat in request.chats" id="chat-id-{{chat.id}}">
                <a href="#" on-tap="displayChat($event, chat)" class="item" style="padding:14px;">
                    <table width="100%">
                        <tr>
                            <td width="45" style="vertical-align: middle;" rowspan="2">
                                <image ng-src="{{getImageUrlFromMediaId(chat.chatPartnerImageMediaID)}}" style="width:50px;height:50px;border-radius:30px;border-width: 1px; border-style: solid; border-color: lightgrey;"/>
                            </td>
                            <td width="*" style="vertical-align: middle;" rowspan="2">
                                <div style="padding-left: 10px;">
                                    <b>{{chat.chatPartnerName}}</b>
                                    <!--TODO <br><span style="font-size: 75%;color:grey">{{chat.lastLine}}</span>-->
                                </div>
                            </td>
                            <td rowspan="2" on-tap="removeChat($event, chat)" width="30" style="text-align: center; vertical-align: middle;padding-right: 6px; padding-left: 6px; color: darkgrey;">
                                <i class="icon ion-arrow-right-c before-big"></i>
                                <!--
                                <i ng-hide="((request.chats.length==1) && (request.state==='processing'))" class="icon ion-ios-close-outline before-big"></i>
                                -->
                            </td>
                        </tr>
                        <tr>
                           <td ng-show="chat.unreadMessage" class="animationPulsate" style="text-align: center; vertical-align: middle; padding-right: 6px; padding-left: 6px; color: #ee2200;">
                               <i class="icon ion-email-unread before-big"></i>
                           </td>
                        </tr>
                    </table>
                </a>
            </div>
        </div>

      <!--  MEDIA ITEMS -->

      <div class="card" ng-show="( (request.info.length>0) || (request.mediaItemIds.length>0))">
          <div class="item item-divider">
              {{ 'PUBLICINFO' | translate }}
          </div>
      </div>

      <div ng-show="(request.info.length>0)" class="list card">
          <div data-ng-repeat="info in request.info" >
              <div mediaitem itemid="{{info.id}}" item="{{info}}" id="media-id-{{info.id}}" ></div>
          </div>
      </div>

      <div style="text-align:center;font-size:74%;color:grey;padding:12px;">
          {{latestGitVersion}}
      </div>

  </ion-content>
</ion-view>
