<ion-view view-title="{{ 'KONFETTI-APP' | translate }}" class="sp-{{spClass}}">

    <ion-nav-buttons side="first">
        <button on-tap="reloadPartyList()" ng-show="!loadingParty" class="button button-clear button-positive" style="padding-left:5px;padding-right:5px;color:grey;">
            <i id="reloadIcon" class="icon ion-ios-loop"></i>
        </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="secondary">
        <select ng-model="actualLangSelect" ng-options='lang.display for lang in langSet' ng-change='selectedLang(actualLangSelect)'></select>
    </ion-nav-buttons>

    <div class="padding" style="
    background-color: #fafafa;
    z-index: 999;
    top: 40px;
    position: absolute;
    width: 100%;
    height: 110px;">

        <div class="list card" style="text-align: center; margin-top: 8px;">
            <div style="width:100%;padding:8px">
                <table style="width: 100%;direction: ltr;">
                    <tr>
                        <td ng-show="partyList.length>0" width="30px" style="text-align: left; vertical-align:middle;">
                            <button on-tap="buttonPartyPrev()" class="button button-light icon ion-arrow-left-b fixed-ltr"></button>
                        </td>
                        <td width="*" style="text-align: center; vertical-align: middle;" on-tap="showPartyInfo()">
                            <div ng-hide="loadingParty" style="min-height: 70px;">

                                <div style="text-align: center; font-size: 200%;">{{orga.konfettiCount}} {{ 'KONFETTI' | translate }}</div>
                                <div style="font-weight: bold; font-size: 125%;padding-top: 8px; direction: ltr;">{{orga.name}}</div>
                                <div style="direction: ltr;">{{orga.town}} ({{orga.meters}}m) <i class="icon ion-ios-information-outline" style="padding: 1px;"></i></div>

                            </div>
                            <div ng-show="loadingParty" style="min-height: 70px;">
                                <br>
                                <ion-spinner icon="android"></ion-spinner>
                                <div ng-show="(state==='')">
                                    {{ 'INITACCOUNT' | translate }}
                                </div>
                                <div style="color:lightgrey;font-size: 75%">
                                    {{ state | translate }}
                                </div>
                            </div>
                        </td>
                        <td ng-show="partyList.length>0" width="30px" style="text-align: right; vertical-align:middle;direction: ltr;">
                            <button on-tap="buttonPartyPrev()" class="button button-light icon ion-arrow-right-b fixed-ltr"></button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>

  <ion-content>

      <div style="height: 93px;"></div>

      <div ng-show="(state==='GPSFAIL')" style="width: 100%; text-align: center; padding-top: 50px">
          <div style="font-size: 500%;color:#387ef5">
            <i class="icon ion-ios-navigate"></i>
          </div>
          <div>
              {{ 'NEEDSGPS' | translate }}
          </div>
      </div>

      <div ng-show="(state==='INTERNETFAIL')" style="width: 100%; text-align: center; padding-top: 50px">
          <div style="font-size: 500%;color:#387ef5">
              <i class="icon ion-wifi"></i>
          </div>
          <div>
              {{ 'NEEDSINTERNET' | translate }}
          </div>
      </div>

      <div ng-hide="loadingParty" class="padding">

      <!--
        NOTIFICATIONS - just show if available
      -->

      <div ng-show="(notifications.length>0)" class="list card">
          <div notification type="{{noti}}" data-ng-repeat="notification in notifications"></div>
      </div>


      <div class="card" ng-show="(requestsReview.length>0)">
          <div class="item item-divider">
              {{ 'DASHHEADER_REVIEW' | translate }}
          </div>
      </div>

      <div requestcard data-ng-repeat="request in requestsReview" requesttype="reviewRequestCard" id="reviewRequestCard{{request.id}}"></div>

      <div class="card" ng-show="(requestsPosted.length>0)">
          <div class="item item-divider">
              {{ 'DASHHEADER_POSTED' | translate }}
          </div>
      </div>

      <div requestcard data-ng-repeat="request in requestsPosted" requesttype="postedRequestCard" id="postedRequestCard{{request.id}}"></div>

      <div class="card" ng-show="(requestsInteraction.length>0)">
          <div class="item item-divider">
              {{ 'DASHHEADER_ACTIVE' | translate }}
          </div>
      </div>

      <div requestcard data-ng-repeat="request in requestsInteraction" requesttype="interactionRequestCard" id="interactionRequestCard{{request.id}}"></div>

      <div class="card">
          <div class="item item-divider">
              {{ 'DASHHEADER_OPEN' | translate }} <select ng-model="actualSorting" ng-options='sort.sort as sort.display for sort in sortSet' ng-change='changedSorting(actualSorting)' style="float:right;margin-left: 10px;"></select>
          </div>
      </div>

      <div requestcard data-ng-repeat="request in requestsOpen" requesttype="openRequestCard" id="openRequestCard{{request.id}}" style="position: relative;"></div>

      <div ng-show="(requestsOpen.length===0)" class="card">
           <div class="item item-text-wrap">
               {{ 'NOCONTENT' | translate }}
           </div>
      </div>

      </div>

  </ion-content>
</ion-view>
