backend/node_modules/
backend/src/components/
platforms/
plugins/
.idea/
resources/android/
resources/ios/
bower_components/
*.class
api/target/
*.log
*.log.*
.project
www/backend/node_modules/*
node_modules/*
.DS_Store