<div class="row" data-ng-controller="TablesCtrl">
  <div class="col-lg-6">
    <rd-widget>
      <rd-widget-header icon="fa-birthday-cake" title="Parties">
        <a ng-click="refreshParties()">refresh</a>
      </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr ng-show="parties.length==0">
                <td>no parties yet - click refresh</td>
              </tr>
              <tr ng-show="parties==null">
                  <td>.. loading ..</td>
              </tr>
              <tr ng-show="parties.length>0">
                  <td>Name</td><td>Type</td><td>Contact</td><td>Edit</td>
              </tr>
              <tr ng-repeat="party in parties">
                  <td>{{party.name}}</td><td>{{getTypeInfo(party)}}</td><td style="font-size: 75%">{{party.contact}}</td><td><span ng-click="editParty(party.id)"><i class="fa fa-pencil-square-o" style="color: blue;"></i></span></td>
              </tr>
            </tbody>
          </table>
        </div>      
      </rd-widget-body>
      <rd-widget-footer>
          <!--
          <ul class="pagination pagination-sm pull-right">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
          </ul>
          -->
          <div class="clearfix"></div>
        </rd-widget-footer>
      </rd-widget>
    </div>
    <div class="col-lg-6">
      <rd-widget>
        <rd-widget-header icon="fa-users" title="Users">
          <a ng-click="refreshUsers()">refresh</a>
        </rd-widget-header>
        <rd-widget-body classes="medium no-padding">
          <div class="table-responsive">
            <table class="table table-striped">
              <tbody>
              <tr ng-show="users.length==0">
                  <td>no users yet - click refresh</td>
              </tr>
              <tr ng-show="users==null">
                  <td>.. loading ..</td>
              </tr>
              <tr ng-show="users.length>0">
                  <td>ID</td><td>Name</td><td>Last Active</td><td>Parties</td><td>Options</td>
              </tr>
              <tr ng-repeat="user in users">
                  <td>{{user.id}}</td><td>{{user.name}}</td><td>{{user.lastActivityTS}}</td><td style="font-size: 75%">{{user.activeOnParties}}</td><td><span ng-click="optionsUser(user.id)"><i class="fa fa-pencil-square-o" style="color: blue;"></i></span></td>
              </tr>
              </tbody>
            </table>
          </div>
        </rd-widget-body>
        <rd-widget-footer>
          <!--
          <ul class="pagination pagination-sm pull-right">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">&raquo;</a></li>
          </ul>
          <div class="clearfix"></div>
          -->
        </rd-widget-footer>
      </rd-widget>
    </div>
  </div>
