/* Empty. Add your own CSS if you like */

.sp-rtl {
    direction: rtl;
}
.sp-ltr {
    direction: ltr;
}

.fixed-ltr {
    direction: ltr;
}

.fixed-ltr::before {
    direction: ltr;
}

.before-big::before {
    font-size: 150%;
}

.before-bigger::before {
    font-size: 200%;
}

.before-biggest::before {
    font-size: 300%;
}

.round thead tr:first-child th:first-child,
.round tbody:first-child tr:first-child td:first-child {
    border-top-left-radius: 0.6em;
}

#reloadIcon::before {
    font-size: 23px;
}
