/* Empty. Add your own CSS if you like */

.sp-rtl {
    direction: rtl;
}
.sp-ltr {
    direction: ltr;
}

.fixed-ltr {
    direction: ltr;
}

.fixed-ltr::before {
    direction: ltr;
}

.before-big::before {
    font-size: 150%;
}

.before-bigger::before {
    font-size: 200%;
}

.before-biggest::before {
    font-size: 300%;
}

.round thead tr:first-child th:first-child,
.round tbody:first-child tr:first-child td:first-child {
    border-top-left-radius: 0.6em;
}

#reloadIcon::before {
    font-size: 23px;
}

body > ion-nav-view > ion-tabs > div {
    background-color: rgb(233, 233, 233); !important;
    border-top-color: grey;
    border-top-style: solid;
    border-top-width: 1px;
}

.tabs-striped .tabs {
    background-color: rgb(233, 233, 233) !important;
    border-top-color: grey !important;
    border-top-style: solid !important;
    border-top-width: 1px !important;
}

@media screen and (max-height: 400px) {

    body > ion-nav-view > ion-tabs > div {
        display: none !important;
    }

    .has-tabs, .bar-footer.has-tabs {
        bottom: 0px;
    }
}

@-webkit-keyframes keysFadeOut {
    0% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.0;
    }
}

@-webkit-keyframes keysFadeUp {
    0% {
        top: 0;
        opacity: 1.0;
    }
    75% {
        top: -74px;
        opacity: 0.8;
    }
    100% {
        top: -99px;
        opacity: 0.0;
    }
}

@-webkit-keyframes keysFadeDown {
    0% {
        top: 0;
        opacity: 1.0;
    }
    75% {
        top: 74px;
        opacity: 0.8;
    }
    100% {
        top: 99px;
        opacity: 0.0;
    }
}

@-webkit-keyframes keysMoveUp {
    0% {
        top: 0;
    }
    100% {
        top: -99px;
    }
}

@-webkit-keyframes keysMoveDown {
    0% {
        top: 0;
    }
    100% {
        top: 99px;
    }
}

@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(1.1); }
    100% { -webkit-transform: scale(1); }
}

.animationFadeOut {
    animation: keysFadeOut ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 800ms;
}

.animationFadeUp {
    animation: keysFadeUp ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 800ms;
}

.animationFadeDown {
    animation: keysFadeDown ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 800ms;
}

.animationMoveUp {
    animation: keysMoveUp ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 800ms;
}

.animationMoveDown {
    animation: keysMoveDown ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 800ms;
}

@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(0.95); }
    100% { -webkit-transform: scale(1); }
}
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(0.95); }
    100% { transform: scale(1); }
}
.pulse {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: pulse;
    animation-name: pulse;
    animation-iteration-count:infinite;
}

