/* Empty. Add your own CSS if you like */

.ng-cloak { display:none; }

.sp-rtl {
    direction: rtl;
}
.sp-ltr {
    direction: ltr;
}

.fixed-ltr {
    direction: ltr;
}

.fixed-ltr::before {
    direction: ltr;
}

.before-big::before {
    font-size: 150%;
}

.before-bigger::before {
    font-size: 200%;
}

.before-biggest::before {
    font-size: 300%;
}

#new-request-header-button:before {
    margin-top: 0px;
}

.round thead tr:first-child th:first-child,
.round tbody:first-child tr:first-child td:first-child {
    border-top-left-radius: 0.6em;
}

#reloadIcon::before {
    font-size: 23px;
}

.tabs-striped .tabs {
    background-color: rgb(233, 233, 233) !important;
    border-top-color: grey !important;
    border-top-style: solid !important;
    border-top-width: 1px !important;
}

body > div.popup-container.popup-showing.active > div > div.popup-body > input {
    padding-left: 5px;
    padding-right: 5px;
}

.chatInputFooter {
    z-index: 999;
    position: absolute;
    background-color: lightgray;
    height: 135px;
    width: 100%;
    top: 40px;
    left:0px;
}

@media screen and (max-height: 400px) {

    body > ion-nav-view > ion-tabs > div {
        display: none !important;
    }

    .has-tabs, .bar-footer.has-tabs {
        bottom: 0px;
    }
}

@-webkit-keyframes keysFadeOut {
    0% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.0;
    }
}

@-webkit-keyframes keysFadeUp {
    0% {
        top: 0;
        opacity: 1.0;
    }
    75% {
        top: -74px;
        opacity: 0.8;
    }
    100% {
        top: -99px;
        opacity: 0.0;
    }
}

@-webkit-keyframes keysFadeDown {
    0% {
        top: 0;
        opacity: 1.0;
    }
    75% {
        top: 74px;
        opacity: 0.8;
    }
    100% {
        top: 99px;
        opacity: 0.0;
    }
}

@-webkit-keyframes keysMoveUp {
    0% {
        top: 0;
    }
    100% {
        top: -89px;
    }
}

@-webkit-keyframes keysMoveDown {
    0% {
        top: 0;
    }
    100% {
        top: 89px;
    }
}

@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(1.1); }
    100% { -webkit-transform: scale(1); }
}

.animationFadeOut {
    animation: keysFadeOut ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 800ms;
    -webkit-animation: keysFadeOut ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-duration: 800ms;
}

.animationFadeUp {
    animation: keysFadeUp ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 800ms;
    -webkit-animation: keysFadeUp ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-duration: 800ms;
}

.animationFadeDown {
    animation: keysFadeDown ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 800ms;
    -webkit-animation: keysFadeDown ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-duration: 800ms;
}

.animationMoveUp {
    animation: keysMoveUp ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 800ms;
    -webkit-animation: keysMoveUp ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-duration: 800ms;
}

.animationMoveDown {
    animation: keysMoveDown ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 800ms;
    -webkit-animation: keysMoveDown ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-duration: 800ms;
}

@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(0.95); }
    100% { -webkit-transform: scale(1); }
}
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(0.95); }
    100% { transform: scale(1); }
}
.pulse {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: pulse;
    animation-name: pulse;
    animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
}

div.popup-body span {
    margin-left: 2px;
    line-height: 25px;
}

.item-radio input:checked ~ .item-content {
    background: #fdfdfd;
}

.animationPulsate{
    -webkit-animation-name: pulsate;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite
}
@-webkit-keyframes pulsate {
    0% { width:1px;height: 1px; opacity: 0.0}
    10% { width:3px;height: 3px; opacity: .20}
    20% { width:5px;height: 5px; opacity: .40 }
    30% { width:7px;height: 7px; opacity: .60 }
    40% { width:9px;height: 9px; opacity: .80 }
    50% { width:11px;height: 11px; opacity: 1.0}
    60% { width:13px;height: 13px; opacity: .80}
    70% { width:15px;height: 15px;  opacity: .60}
    80% { width:17px;height: 17px;  opacity: .40}
    90% { width:19px;height: 19px;  opacity: .20}
    100% { width:21px;height: 21px;  opacity: 0.0}
}

.animationPulsateSimple{
    -webkit-animation-name: pulsateSimple;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite
}
@-webkit-keyframes pulsateSimple {
    0% { opacity: 0.0}
    10% { opacity: .20}
    20% { opacity: .40 }
    30% {  opacity: .60 }
    40% { opacity: .80 }
    50% {  opacity: 1.0}
    60% {  opacity: .80}
    70% {  opacity: .60}
    80% {  opacity: .40}
    90% { opacity: .20}
    100% { opacity: 0.0}
}

